/.ProtoKitOutputConfigurationProvider.java._trace
/.ProtoKitOutputConfigurationProvider.xtendbin
/.ProtokitDSLGenerator.java._trace
/.ProtokitDSLGenerator.xtendbin
/ProtoKitOutputConfigurationProvider.java
/ProtokitDSLGenerator.java
