/.OOCodeGeneratorJavaTemplates.java._trace
/.OOCodeGeneratorJavaTemplatesJava.java._trace
/.OOCodeGeneratorTemplatesJava.java._trace
/.OOCodeGeneratorTemplatesJava.xtendbin
/OOCodeGeneratorTemplatesJava.java
