/.OOCodeGeneratorCppTemplates.java._trace
/.OOCodeGeneratorJavaTemplates.java._trace
/.OOCodeGeneratorTemplatesCpp.java._trace
/.OOCodeGeneratorTemplatesCpp.xtendbin
/OOCodeGeneratorTemplatesCpp.java
