/.ProtokitDSLDescriptionLabelProvider.java._trace
/.ProtokitDSLDescriptionLabelProvider.xtendbin
/.ProtokitDSLLabelProvider.java._trace
/.ProtokitDSLLabelProvider.xtendbin
/ProtokitDSLDescriptionLabelProvider.java
/ProtokitDSLLabelProvider.java
